<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Space Exploration</a>
    <ul>
      <li><a href="https://shahid92.netlify.app/">About Me</a></li>
      <li><a href="/mars">Explore Mars</a></li>
      <li id="more"><a href="/more">More ❯❯❯</a></li>
      <!-- <li><a href="https://api.nasa.gov/">Sources</a></li> -->
    </ul>
  </nav>
</header>