:root {
  /*color*/
    --color-base-hue: 100;
    --color-danger-hue-offset: 180;
    --color-danger-hue: calc(var(--color-base-hue) - var(--color-danger-hue-offset));
    --color-background-dark: hsl(var(--color-base-hue), 10%, 80%);
    --color-background-light: hsl(var(--color-base-hue), 10%, 86%);
    --color-text-light: rgb(10, 114, 128);
    --background-mars-gallery: hsl(--color-base-hue, 100%, 87%);
  /*header*/
    --nav-title-font-size: 3rem;
    --nav-title-font-weight: bold;
    --nav-link-font-weight: 300;
}

*,*::after,*::before {
    box-sizing: border-box;
}
html {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, var(--color-background-dark), var(--color-background-light));
}
.inner-container {
  margin: 0 1.5rem;
}
.page-header {
  font-size: 2rem;
  font-weight: 500;
}
.contain {
  font-size: 3em;
  overflow-y: hidden;
  overflow-x: hidden;
  transition: transform cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: transform cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: transform cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -ms-transition: transform cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: transform cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.contain .page-header:hover {
     transform: skewX(25deg);
     -webkit-transform: skewX(25deg);
     -moz-transform: skewX(25deg);
     -ms-transform: skewX(25deg);
     -o-transform: skewX(25deg);
}

/*------------header--------------*/
.header-title {
  color: var(--color-text-light);
  text-decoration: none;
  font-size: var(--nav-title-font-size);
  font-weight: var(--nav-title-font-weight);
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

.header-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.header-nav li {
  list-style: none;
}

.header-nav li a {
  text-decoration: none;
  color: var(--color-text-light);
  font-weight: var(--nav-link-font-weight);
  padding: 1rem;
}

.header-nav li a:hover, .header-title:hover {
  color: white;
}

.header-nav li:hover {
  transform: scale(1.5);
       -webkit-transform: scale(1.5);
       -moz-transform: scale(1.5);
       -ms-transform: scale(1.5);
       -o-transform: scale(1.5);
}

/*--------------------------|||||||||||||-mars-|||||||||||||||-----------------*/
/********index*********/
.go {
  text-decoration: none;
  color: var(--color-text-light);
}
/********gallery******/
#cont {
  padding: 0;
  margin: 0;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-info {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5em;
}
.card-body {
    position: relative;
    bottom: 0;
}
.mars-img {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-info .detail h2 {
  font-family: 'Droid Serif', serif;
}
.card-info .detail  p {
  font-family: 'Julius Sans One', sans-serif;
}
.pagination{
   display: flex;
   justify-content: space-evenly;
   margin-top: 1em;
   padding: 1em;
}
.index {
  display: flex;
  flex-wrap: wrap;
}
.form-data input{
   padding : 1em;
   font-size: 16px;
   font-weight: 600;
}
.active input {
  background-color: var(--color-text-light);
} 
.form-data input:hover {
  background-color: var(--color-text-light);
}
#active {
  padding : 1em;
  font-size: 26px;
  font-weight: 800;
  color: var(--color-text-light);
}
#loading{
  font-size: xx-large;
  width:auto;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width:500px){
  .index{
    width: 0;
    opacity: 0;
  }
  .index > .form-data {
    width: 0;
  }
}

/*********post*********/
#id {
  width: 0;
  height: 0;
  opacity: 0;
}
#page {
  width: 0;
  height: 0;
  opacity: 0;
}