.card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-info {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:transform 0.25s ease;
  border: 1em solid hsl(0deg 0% 94% / 59%);
  -webkit-transition:transform 0.25s ease;
  -moz-transition:transform 0.25s ease;
  -ms-transition:transform 0.25s ease;
  -o-transition:transform 0.25s ease;
}
.mars-img {
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-info .detail h2 {
  font-family: 'Droid Serif', serif;
}
.card-info .detail  p {
  font-family: 'Julius Sans One', sans-serif;
}
.go {
  text-decoration: none;
  color: var(--color-text-light);
}
.pagination{
   display: flex;
   justify-content: space-evenly;
   margin-top: 1em;
   padding: 1em;
}
.index {
  display: flex;
  flex-wrap: nowrap;
}
.form-data input{
   padding : 1em;
   font-size: 16px;
   font-weight: 600;
}
.active input {
  background-color: var(--color-text-light);
} 
.form-data input:hover {
  background-color: var(--color-text-light);
}
#active {
  padding : 1em;
  font-size: 26px;
  font-weight: 800;
  color: var(--color-text-light);
}
#loading{
  font-size: xx-large;
  width:auto;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width:500px){
  .index{
    width: 0;
    opacity: 0;
  }
}


/* @media screen and (max-width:500px) {
  .mars-img {
    width: 95vw;
  }
  .card-info {
    width: 95vw;
  }
}
@media screen and (max-width:900px) {
  .mars-img {
    width: 40vw;
  }
  .card-info {
    width: 40vw;
  }
} */

/* 

.detail {
  text-align: center;
  display: flex;
  flex-direction: column;
  width:0;
}

.detail,img {
  transition: .3s all;
  border-radius: 3px;
}

.card-info .detail {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    opacity: 0;
  }
   */
/* .card-info:hover .detail {
      opacity: 1;
      width: 40%;
    } */
  
/* .card-info:hover img {
   filter: blur(4px);
   -webkit-filter: blur(4px);
} */
