<div class="container">
    <div class="contain">
        <h1 class="page-header">Hello Martians</h1>
        <p>
            Ok , so u are intesrested in Mars View ,
            So, Here we have Mars pictures and some Informatio  about them,
            So, u can quench your thirst of looks of Being Martians,
            Hola , Happy Space Exploration 
            SO, Here We <a class="go" href="/mars/1"> GO</a>
    
        </p>
    </div>
</div>

